In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv('download')

In [3]:
data_frame

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,26/04/2020,26,4,2020,112,4,Afghanistan,AF,AFG,37172386.0,Asia
1,25/04/2020,25,4,2020,70,1,Afghanistan,AF,AFG,37172386.0,Asia
2,24/04/2020,24,4,2020,105,2,Afghanistan,AF,AFG,37172386.0,Asia
3,23/04/2020,23,4,2020,84,4,Afghanistan,AF,AFG,37172386.0,Asia
4,22/04/2020,22,4,2020,61,1,Afghanistan,AF,AFG,37172386.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...
13206,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
13207,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0,Africa
13208,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
13209,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
13210,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa

In [4]:
data_frame=data_frame[data_frame.countriesAndTerritories=="Poland"]

In [5]:
data_frame=data_frame.reindex(index=data_frame.index[::-1])

In [6]:
data_frame.drop(['day','month', 'year'],axis=1, inplace=True)

In [7]:
data_frame.drop(['deaths','countriesAndTerritories','geoId','countryterritoryCode',
                 'popData2018','continentExp'], axis=1, inplace=True)

In [8]:
data_frame.reset_index(drop=True, inplace=True)

In [9]:
data_frame['cases_cum']=data_frame.cases.cumsum()

In [10]:
data_frame.drop('cases', axis=1, inplace=True)

In [11]:
data_frame

       dateRep  cases_cum
0   04/03/2020          1
1   07/03/2020          5
2   08/03/2020          6
3   09/03/2020         11
4   10/03/2020         17
5   11/03/2020         22
6   12/03/2020         31
7   13/03/2020         49
8   14/03/2020         68
9   15/03/2020        104
10  16/03/2020        125
11  17/03/2020        177
12  18/03/2020        238
13  19/03/2020        287
14  20/03/2020        355
15  21/03/2020        425
16  22/03/2020        536
17  23/03/2020        634
18  24/03/2020        749
19  25/03/2020        901
20  26/03/2020       1051
21  27/03/2020       1221
22  28/03/2020       1389
23  29/03/2020       1638
24  30/03/2020       1862
25  31/03/2020       2055
26  01/04/2020       2311
27  02/04/2020       2554
28  03/04/2020       2946
29  04/04/2020       3383
30  05/04/2020       3627
31  06/04/2020       4102
32  07/04/2020       4413
33  08/04/2020       4848
34  09/04/2020       5205
35  10/04/2020       5575
36  11/04/2020       5955
37  12/04/2020       6356
38  13/04/2020       6674
39  14/04/2020       6934
40  15/04/2020       7202
41  16/04/2020       7582
42  17/04/2020       7918
43  18/04/2020       8379
44  19/04/2020       8742
45  20/04/2020       9287
46  21/04/2020       9593
47  22/04/2020       9856
48  23/04/2020      10169
49  24/04/2020      10511
50  25/04/2020      10892
51  26/04/2020      11273

In [12]:
import sklearn

In [13]:
data = data_frame.dateRep

In [14]:
type(data[0])

str

In [15]:
Y = data_frame.cases_cum

In [16]:
x = data.index

In [17]:
x

RangeIndex(start=0, stop=52, step=1)

In [18]:
XD = x[:51]
YD = Y[:51]

In [19]:
from sklearn import linear_model
import numpy as np

In [20]:
linear_regr = linear_model.Lars()

In [21]:
XD = np.array(XD)
YD = np.array(YD)
XD = XD.reshape(-1,1)
linear_regr.fit(XD,YD)

Lars(copy_X=True, eps=2.220446049250313e-16, fit_intercept=True, fit_path=True,
     n_nonzero_coefs=500, normalize=True, precompute='auto', verbose=False)

In [22]:
X_test = [[51]]

In [23]:
X_test = np.array(X_test)
X_test = X_test.reshape(-1,1)

In [24]:
y_pred = linear_regr.predict(X_test)

In [25]:
y_pred

array([9507.15764706])

In [26]:
X_test

array([[51]])

In [28]:
X_test

array([[51]])

In [29]:
YD

array([    1,     5,     6,    11,    17,    22,    31,    49,    68,
         104,   125,   177,   238,   287,   355,   425,   536,   634,
         749,   901,  1051,  1221,  1389,  1638,  1862,  2055,  2311,
        2554,  2946,  3383,  3627,  4102,  4413,  4848,  5205,  5575,
        5955,  6356,  6674,  6934,  7202,  7582,  7918,  8379,  8742,
        9287,  9593,  9856, 10169, 10511, 10892])