In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv') 
tc = data['totale_casi']
tt = data['tamponi']
y = []
tt_increase = []
for i in range(1, len(tt)):
    current_epi = (tc[i] - tc[i-1])/(tt[i]-tt[i-1])*100
    tt_increase.append(tt[i]-tt[i-1])
    y.append(current_epi)
data['data']

0     2020-02-24T18:00:00
1     2020-02-25T18:00:00
2     2020-02-26T18:00:00
3     2020-02-27T18:00:00
4     2020-02-28T18:00:00
             ...
57    2020-04-21T17:00:00
58    2020-04-22T17:00:00
59    2020-04-23T17:00:00
60    2020-04-24T17:00:00
61    2020-04-25T17:00:00
Name: data, Length: 62, dtype: object

In [6]:
X = []
for i in range(1, len(y)+1):
    X.append([i])

In [8]:
data

,data,stato,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,totale_casi,tamponi,casi_testati,note_it,note_en
0,2020-02-24T18:00:00,ITA,101,26,127,94,221,0,221,1,7,229,4324,NaN,NaN,NaN
1,2020-02-25T18:00:00,ITA,114,35,150,162,311,90,93,1,10,322,8623,NaN,NaN,NaN
2,2020-02-26T18:00:00,ITA,128,36,164,221,385,74,78,3,12,400,9587,NaN,NaN,NaN
3,2020-02-27T18:00:00,ITA,248,56,304,284,588,203,250,45,17,650,12014,NaN,NaN,NaN
4,2020-02-28T18:00:00,ITA,345,64,409,412,821,233,238,46,21,888,15695,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2020-04-21T17:00:00,ITA,24134,2471,26605,81104,107709,-528,2729,51600,24648,183957,1450150,971246.0,pd-IT-0013,pd-EN-0013
58,2020-04-22T17:00:00,ITA,23805,2384,26189,81510,107699,-10,3370,54543,25085,187327,1513251,1015494.0,NaN,NaN
59,2020-04-23T17:00:00,ITA,22871,2267,25138,81710,106848,-851,2646,57576,25549,189973,1579909,1052577.0,pd-IT-0015;pd-IT-0017,pd-EN-0015;pd-EN-0017
60,2020-04-24T17:00:00,ITA,22068,2173,24241,82286,106527,-321,3021,60498,25969,192994,1642356,1147850.0,NaN,NaN
61,2020-04-25T17:00:00,ITA,21533,2102,23635,82212,105847,-680,2357,63120,26384,195351,1707743,1186526.0,NaN,NaN

In [9]:
# vertical line corresponding to the beginning of restriction laws. 
di = 14
restrictions_x = [di,di,di,di,di,di]
restrictions_y = [0,10,20,30,40,50]
# vertical line corresponding to the beginning of effects of restriction laws (after a week)
de = di + 7
effects_x = [de,de,de,de,de,de]
effects_y = [0,10,20,30,40,50]
de

21

In [11]:
y

[2.1632937892533146,
 8.091286307053942,
 10.300782859497321,
 6.465634338494974,
 8.091706001348618,
 22.952149229521492,
 15.419296663660957,
 18.558343289526086,
 14.745038934940968,
 30.455445544554454,
 19.46459844883663,
 21.86568472733649,
 18.946031746031746,
 46.207251221393676,
 14.087959625090122,
 18.663761801016705,
 20.619117990199893,
 22.19221050797247,
 29.934942646807055,
 22.824082904189712,
 24.749291893133275,
 32.96867695184666,
 24.917081260364842,
 30.877233696913436,
 24.828902069766478,
 24.8974787363305,
 22.081016679904685,
 28.061643032930974,
 24.418496464458503,
 18.95855318219861,
 16.804588283490375,
 18.047184954117327,
 16.853330324145908,
 21.290401567091088,
 17.360366925286126,
 13.688405552365834,
 13.878972572921203,
 11.725991609937452,
 11.873009296423854,
 12.8561872909699,
 12.606244706019803,
 11.889266955171616,
 9.014326817548127,
 7.422600619195046,
 9.090909090909092,
 7.3857369847649315,
 8.291967708314932,
 8.758561643835616,
 8.587302884222566,
 11.098248627655998,
 6.100880704563651,
 6.206659125559436,
 5.316185982801918,
 5.655731065208586,
 6.00891378086298,
 5.438372345298074,
 5.235391167555538,
 5.340644363797721,
 3.9695160370848215,
 4.837702371611127,
 3.6046920641717772]

In [12]:
import numpy as np
from sklearn import linear_model
X = X[de:]
y = y[de:]
print(X)
# Linear Regression
linear_regr = linear_model.LinearRegression()
# Train the model using the training sets
linear_regr.fit(X, y)
linear_regr.score(X,y)

[[22], [23], [24], [25], [26], [27], [28], [29], [30], [31], [32], [33], [34], [35], [36], [37], [38], [39], [40], [41], [42], [43], [44], [45], [46], [47], [48], [49], [50], [51], [52], [53], [54], [55], [56], [57], [58], [59], [60], [61]]

0.8809706328421547

In [13]:
from sklearn.metrics import max_error
import math
y_pred = linear_regr.predict(X)
error = max_error(y, y_pred)
error

6.773602679945803

In [15]:
X_test = []
gp = 40
for i in range(de, de + gp):
    X_test.append([i])
y_pred_linear = linear_regr.predict(X_test)

In [18]:
y_pred_max = []
y_pred_min = []
for i in range(0, len(y_pred_linear)):
    y_pred_max.append(y_pred_linear[i] + error)
    y_pred_min.append(y_pred_linear[i] - error)

In [19]:
def n_to_date(n):
    return data_eff + timedelta(days=n-de)

In [24]:
from datetime import datetime
def date_to_n(my_date):
    initial_date = datetime.strptime(data['data'][0], '%Y-%m-%dT%H:%M:%S')
    return (my_date - initial_date).days + 1
my_date = datetime.strptime('2020-04-05', '%Y-%m-%d')
n = date_to_n(my_date)
predict = linear_regr.predict([[n]])

In [25]:
predict

array([13.78282259])

In [28]:
y

[32.96867695184666,
 24.917081260364842,
 30.877233696913436,
 24.828902069766478,
 24.8974787363305,
 22.081016679904685,
 28.061643032930974,
 24.418496464458503,
 18.95855318219861,
 16.804588283490375,
 18.047184954117327,
 16.853330324145908,
 21.290401567091088,
 17.360366925286126,
 13.688405552365834,
 13.878972572921203,
 11.725991609937452,
 11.873009296423854,
 12.8561872909699,
 12.606244706019803,
 11.889266955171616,
 9.014326817548127,
 7.422600619195046,
 9.090909090909092,
 7.3857369847649315,
 8.291967708314932,
 8.758561643835616,
 8.587302884222566,
 11.098248627655998,
 6.100880704563651,
 6.206659125559436,
 5.316185982801918,
 5.655731065208586,
 6.00891378086298,
 5.438372345298074,
 5.235391167555538,
 5.340644363797721,
 3.9695160370848215,
 4.837702371611127,
 3.6046920641717772]